---
{
	"title": "Fontawsome loader",
	"language": "en",
	"category": "Plugins",
	"description": "Provides a consistent, accessible way of handling footnotes across websites.",
	"tag": "fa",
	"parentdir": "fa",
	"altLangPrefix": "fa",
	"dateModified": "2017-02-02"
}
---


<p>Test fa loader</p>


<i class="fa fa-birthday-cake" aria-hidden="true"></i>


<i class="fa fa-cc" aria-hidden="true"></i>
<i class="fa fa-cc" aria-hidden="true"></i>
<i class="fa fa-cc" aria-hidden="true"></i>
<i class="fa fa-cc" aria-hidden="true"></i>
<i class="fa fa-cc" aria-hidden="true"></i>
<i class="fa fa-cc" aria-hidden="true"></i>
<i class="fa fa-cc" aria-hidden="true"></i>
<i class="fa fa-cc" aria-hidden="true"></i>
<i class="fa fa-cc" aria-hidden="true"></i>
<i class="fa fa-cc" aria-hidden="true"></i>
